// background
.wrapper {
  background: white;
  min-height: 500px;
  height: auto;
}

// title of the wrapper
.title_presentation{
  font-weight: 500;
  font-size: 40px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

// left content of the wrapper (wording)
.content-left {
  margin-top: 70px
}

.presentation ul {
  list-style: none;
  padding: 10px;
}

.presentation ul li{
  margin: 20px;
  font-size: 18px;
  font-weight:lighter;
  font-family: 'Open Sans', sans-serif;
}

.presentation ul li svg{
  margin-right: 10px;
  color: #E0288E;
}

// Right content of the wrapper (image)
#img-wrapper{
  height: 350px;
  width: 450px;
}

// For both content (left and right)
.presentation {
  margin-left: 10px;
}


